# DATABASE_URL="postgres://default:Ks8cY0akwnhd@ep-crimson-shape-a45tr546.us-east-1.aws.neon.tech:5432/verceldb?sslmode=require"

#usu: admin
#pass: admin

DATABASE_URL="postgresql://postgres:gamlerd13@localhost:5432/maquinarias"
# Estos son para next-auth
NEXTAUTH_SECRET=tu_secreto_super_secreto
NEXTAUTH_URL="http://localhost:3000"